.item{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0px;
}

.itemName{
    font-weight: bolder;
    padding: 0px;
}

.line{
    border: 1px solid #f4f4f4;
}

.deleteButton{
    float: right;
    padding: 7px ;
    border: none;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}

.editButton {
    float: right;
    margin-right: 5px;
    background-color: #fd5025;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
    margin-top: -4px;
  }
  
  .saveButton {
    margin-left: 5px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
    margin-top: -4px;
  
  }
  
  .cancelButton {
    margin-left: 5px;
    background-color: #dc3545;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
    margin-top: -4px;

  }
  
  .editInput {
    padding: 5px;
    margin-right: 5px;
  }
  